
@import '../base/listas';

/* MENU */

@media (min-width:800px) {
    
.cuerpo {
    background-image: url(../imagenes/fondo-de-menu.jpg) ;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; 
    margin: 12%;
    border: 3px double nth($colores, 1 );
    padding: 20px;
    background-color: nth($colores, 2 );}
    .div2 { grid-area: 1 / 3 / 3 / 5; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div3 { grid-area: 1 / 5 / 3 / 7; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div4 { grid-area: 3 / 1 / 5 / 3; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div5 { grid-area: 3 / 3 / 5 / 5; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div6 { grid-area: 3 / 5 / 5 / 7; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}

    .div7 { grid-area: 5 / 1 / 7 / 3; margin: 12%;
        border: 3px double nth($colores, 1 );
    padding: 4%;
background-color: nth($colores, 2 );}
    .div8 { grid-area: 5 / 3 / 7 / 5; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}

    .div9 { grid-area: 5 / 5 / 7 / 7; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div10 { grid-area: 7 / 1 / 9 / 3; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div11 { grid-area: 7 / 3 / 9 / 5; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div12 { grid-area: 7 / 5 / 9 / 7; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div13 { grid-area: 9 / 1 / 11 / 3; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div14 { grid-area: 9 / 3 / 11 / 5; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    .div15 { grid-area: 9 / 5 / 11 / 7; margin: 12%;
        border: 3px double nth($colores, 1 );
        padding: 4%;
        background-color: nth($colores, 2 );}
    
    .div1 img {
        width: 100%;
    }
    .parent img {width: 100%;
    height: 55%;
border: 2px solid goldenrod;
padding: 0%;}

.parent h3 {
    margin: 3%;
    display: flex;
    justify-content: center;
    font-size: 140%;
}

.parent p {
    margin: 5px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 100%;
    color: gray;

}

.precios {
    display: flex;
    justify-content: center;
    font-size: 100%;
    padding-top: 2%;
}
}

/* MENU MOBILE*/ 

@media only screen and (max-width: 799px){

.cuerpo {
    background-image: url(../imagenes/fondo-de-menu.jpg);
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div2 { grid-area: 1 / 2 / 2 / 3;
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div3 { grid-area: 2 / 1 / 3 / 2;
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div4 { grid-area: 2 / 2 / 3 / 3; 
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}
    .div5 { grid-area: 3 / 1 / 4 / 2;
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );  }
    .div6 { grid-area: 3 / 2 / 4 / 3; 
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div7 { grid-area: 4 / 1 / 5 / 2;
        margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div8 { grid-area: 4 / 2 / 5 / 3;margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }
    .div9 { grid-area: 5 / 1 / 6 / 2; margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}
    .div10 { grid-area: 5 / 2 / 6 / 3; margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}

    .div11 { grid-area: 6 / 1 / 7 / 2;margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }

    .div12 { grid-area: 6 / 2 / 7 / 3; margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}

    .div13 { grid-area: 7 / 1 / 8 / 2; margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}

    .div14 { grid-area: 7 / 2 / 8 / 3;margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 ); }

    .div15 { grid-area: 8 / 1 / 9 / 2; margin: 4%;
        border: 3px double nth($colores, 1 );
        padding: 1%;
        background-color: nth($colores, 2 );}


.parent img {width: 100%;
    height: 55%;
border: 2px solid goldenrod;
padding: 0%;}

.parent h3 {
    margin: 1%;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.parent p {
    margin: 5px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 70%;
    color: gray;

}

.precios {
    display: flex;
    justify-content: center;
    font-size: 70%;
    padding-top: 2%;
}
}